@{
    ViewData["Title"] = "SOAP";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Inicio</title>
</head>
<body>
    <br><br>
    <div class="container card cardinicio px-5 pb-5 my-5">
        <br><h1 class="text-center">Funcionalidades</h1>
        <br><h2 class="fredoka">RUT</h2>
        <p>
            <h5>
                Ingresar RUT y el servicio verificará si es válido o no en función del cálculo del dígito verificador. <br>
                Caso de ejemplo:
            </h5>
            <div class="alert alert-success mt-3" role="alert">
                El RUT 20109270-1 es válido.
            </div>
            <div class="alert alert-danger" role="alert">
                El RUT 20109270-2 es inválido.
            </div>
        </p>
        <br>
        <h2 class="fredoka">Nombre propio</h2>
        <p>
            <h5>
                Ingresar Nombre completo, indicando el género del usuario para posteriormente saludarlo como Sr. o Sra. según sea el caso, como en el siguiente ejemplo:
            </h5>
            <h5>Género Femenino:</h5>
            <div class="alert alert-primary" role="alert">
                Hola Sra. María Andrade Muñoz.
            </div>
            <h5>Género Masculino:</h5>
            <div class="alert alert-primary" role="alert">
                Hola Sr. Juan Alcachofa Freire.
            </div>
        </p>
    </div>

</body>
</html>
