<br>
<br>
<br>
<br>
<br>
<div class="container card cardinicio mt-5 pt-3">
    <div class="texto">
        <h1>WEB SERVICE SOAP</h1>
    </div>
    <div class="container">
        <div>
            <h4><b>Profesor: </b>Geraud Manouvrier Elespuru</h4>
            <h4><b>Asignatura: </b>Redes y comunicación de datos.</h4>
            <h4><b>Sección: </b>411</h4>
        </div>
        <h4><b>Integrantes:</b></h4>
        <div class="ml-4">
            <ul>
                <li>Felipe Gonzalez Duarte</li>
                <li>Fabian Urriola Poisson</li>
                <li>Braulio Argandoña Carrasco</li>
                <li>Rodrigo Aguirre Rodriguez</li>
            </ul>
        </div>
    </div>
</div>
