<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aplicacion</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/estilos.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/estilos.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <nav class="menu">
        <span class="btn-menu"><i class="fas fa-bars"></i></span>
        <div class="navegation">
            <ul>
                <li class="nav-item nav-hover">
                    <a class="text-white text-decoration-none nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio </a>
                </li>

                <li class="nav-item nav-hover">
                    <a class="text-white text-decoration-none nav-link" asp-area="" asp-controller="Home" asp-action="RUT">Rut </a>
                </li>

                <li class="nav-item nav-hover">
                    <a class="text-white text-decoration-none nav-link" asp-area="" asp-controller="Home" asp-action="PERSONA">Nombre </a>
                </li>

                <li class="nav-item nav-hover">
                    <a class="text-white text-decoration-none nav-link" asp-area="" asp-controller="Home" asp-action="integrantes">Integrantes </a>
                </li>
            </ul>
        </div>
        <h1><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Web Services</a></h1>
    </nav>


    @*
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SoapClient</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container-fluid fixed-bottom bg-teal">

        <div class="d-flex justify-content-center">
            <p class="text-white my-0">Copyright <i class="far fa-copyright"></i> 2020 | UTEM</p>
        </div>
    </div>

    <script src="~/js/app.js"></script>
    <script src="~/lib/bootstrap/dist/css/bootstrap.css"></script>
    <script src="~/lib/bootstrap/dist/css/bootstrap-theme.css"></script>
    <script src="https://kit.fontawesome.com/35db202371.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
